<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Сотрудник</title>
</head>
<body>
<h1>Данные сотрудника</h1><br>

<table>
    <tr>
        <td>Id</td>
        <td th:text="${employee.getEmployeeId()}">EmployeeId</td>
    </tr>
    <tr>
        <td>First name</td>
        <td th:text="${employee.getFirstName()}">FirstName</td>
    </tr>
    <tr>
        <td>Last name</td>
        <td th:text="${employee.getLastName()}">LastName</td>
    </tr>
    <tr>
        <td>Department ID</td>
        <td th:text="${employee.getDepartmentID()}">DepartmentID</td>
    </tr>
    <tr>
        <td>Job title</td>
        <td th:text="${employee.getJobTitle()}">JobTitle</td>
    </tr>
    <tr>
        <td>Gender</td>
        <td th:text="${employee.getGender()}">Gender</td>
    </tr>
    <tr>
        <td>Data of birth</td>
        <td th:text="${employee.getDataOfBirth()}">DataOfBirth</td>
    </tr>
</table>
<br>
<a th:href="@{/employee/updateEmployee/{id}(id=${employee.getEmployeeId()})}">Редактировать сотрудника</a>

<br>
<br>
<a th:href="@{/employee/deleteEmployee/{id}(id=${employee.getEmployeeId()})}">Удалить сотрудника</a>
</body>
</html>